body {
  background-color: #FFEEDF;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center
}

button {
  color: #FFEEDF;
  font-size: 200px;
  background-color: #1C5A4E;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border:none;
  font-family: 'Montserrat';
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}